@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is our Skill Check 4 website deployed via AWS Elastic Beanstalk.</p>
    <p>This is for testing the redeployment</p>
</div>
<!--This is Spencer's comment v2-->